{% extends "index.html" %}
{% block content %}

	<div class="content" id="experiment-article-section-1-content">
		<br>
		<p>
			Part-of-speech tagging is the process of assigning a part-of-speech (lexical class marker) to each word in a corpus. The basic parts of speech are : Noun, Verb, Determiner, Adjective, Adverb, Preposition (in English), Postposition (in Hindi).<br/><br/>
		</p>

		<center>
			<img src="{{ url_for('static', filename='images/speech.jpg') }}" alt="1_alt" style="height:250px;width:400px"/>
		</center>
		
	</div>

{% endblock content %}